.item{
    background-color: azure;
 
    display: flex;
    margin: 15px  0px;
    padding: 6px;
  }

  .content{
    flex: auto;
  }
  .desc{
    font-size: 16px;
    color: #282c34;
  }
  .time{
    color: brown;
  }