.checkoutItem{
    font-size: 20rem;
    display: flex;
}
.left{
    width: 200rem;
    height: 200rem;
}
img{
    width: 100%;
    height: 100%;
}
.right{
    flex: auto;
    margin-left: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.name{
    font-weight: bold;
    margin: 0;
}
.priceOuter{
    display: flex;
    justify-content: space-between;
}
.price{
    font-size: 28rem;
}
.price::before{
    content: '￥';
    font-size: 24rem;
}